#!/usr/bin/make -f

BUILDHOME = $(CURDIR)/debian/build

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_clean:
	dh_clean
	rm -rf $(BUILDHOME)

execute_after_dh_install:
	# need to remove files present in components
	$(RM) debian/libignition-common4-core-dev/usr/include/ignition/common*/ignition/common/av.hh
	$(RM) debian/libignition-common4-core-dev/usr/include/ignition/common*/ignition/common/events.hh
	$(RM) debian/libignition-common4-core-dev/usr/include/ignition/common*/ignition/common/graphics.hh

override_dh_auto_test:
	mkdir -p $(BUILDHOME)
	HOME=$(BUILDHOME) dh_auto_test --no-parallel
